.ttncmovie{
    margin:20px;
    width: 150px;
    height: 250px;
    float: right;

}
.ttncspa{
    font-size: 25px;
    color: #244789;
    margin: 30px;
}
.ttncspa1{
    font-size: 18px;
    line-height: 35px;
}
#imgpath{
    width: 380px;
    height: 402px;
}